.card-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
}

.img{
    width: 280px;
    height: 300px;
}

.footer{
    height: 200px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.quantity{
    padding-right: 10px;
}

.title-price{
    margin-bottom: 20px;
}

.clear-button{
    background-color: rgb(100, 100, 223);
    border: none;
    border-radius: 10px;
    color: white;
}

.button{
    border:none;
    background-color: white;
}
.item-map{
    margin-bottom: 100px;
}

.actions-div{
    text-align: end;
}


.header-div{
    margin-top: 80px;
    text-align: center;
}


.course-item-div{
    margin-top: 30px;
}

.price-up-down{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-top: 20px;
}

.delete-button{
    padding: 10px 20px;
    background-color: rgb(225, 96, 96);
    border: none;
    border-radius: 10px;
    color: white;
}


.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px;
}



.footer button{
    padding: 10px 20px;
}